
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&family=Roboto:ital,wght@0,300;1,300&display=swap');

html, body, #root, .App {
  min-height: 100vh;
  margin: 0;
}

.App {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  font-family: 'Hind Guntur', sans-serif;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: rgb(173, 173, 247);
}