.btn--fill {
  background-color: black; 
  color: white;
  font-weight: bold;
}

.btn--outline {
  background-color: transparent;
  border-color: black;
  color: black;
  font-weight: bold;
}

.btn--fill--danger {
  background-color: red;
  color: black;
  font-weight: bold;
}

.btn--outline--danger {
  background-color: transparent;
  border-color: red;
  color: black;
  font-weight: bold;
}

.btn--fill--success {
  background-color: green;
  color: white;
  font-weight: bold;
}

.btn--outline--success {
  background-color: transparent;
  border-color: green;
  color: black;
  font-weight: bold; 
}