.projects {
  color: white;
}

.projects .projects-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

@media screen and (max-width: 750px) {
  .projects .projects-group {
    flex-direction: column;
  }
}

.projects .project-card {
  box-sizing: border-box;
  width: 48.3%; 
  padding: 2rem; 
  border: solid .32rem white;
  margin: 1rem 1rem 1rem 0rem; 
}


@media screen and (max-width: 750px) {
  .projects .projects-group {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .projects .project-card {
    width: 100%;
  }
}

.projects img {
  width: 100%;
  height: auto;
}

