.projects {
  color: white;
}

.projects-group {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.projects .project-card {
  padding: 2rem; 
  border: solid .32rem white;
  margin: 2rem;
  flex-grow: 1; 
}