.navbar {
  font-size: 2.4rem;
  color: white;
}

.navbar .hamburger-menu-icon {
  color: white; 
  cursor: pointer; 
}

.navbar .hamburger-menu-icon:hover {
  opacity: .5;
}

.navbar a {
  color: white; 
}

.navbar a:hover {
  opacity: .5; 
}